
*{ margin: 0 ;
padding: 0  ; }

.hidden{
  visibility: hidden;
}

.unhidden{
  visibility: none;
}


body {background-color: rgb(243, 243, 243) !important;
  font-family: "Open Sans",sans-serif,roboto , serif;}


.container{
    background-color:rgb(255, 255, 255) ;
    padding: 4% 7%;
    
    /* align-items: center; */
    position: relative;

    text-align: center;
    margin:10% 25%;
    font-family: roboto , serif;
    border:solid;
    border-width: 1px;
    border-color: #dddddd;
    border-radius: 1%;
}

.choose_file_button{
   
   background-color: #2962ff;
   color:white;
    padding: 3% 4% 0% 4%  ;
    border:none;
    border-radius: 5px;
    width: 35%;
    height: auto;
    
}

.choose_file{
  display: none;
  position: absolute;

}
.upload_file { 
    padding:4%; 
}
.others_option { 
    margin-right:7% ; 
}
.row_1{font-size: 1.1rem;
}

.row_2{opacity: 0.6;
    font-size: 0.8rem;
    padding-top: 7px;
}
.drop_here{
    opacity: 0.6;
    font-style: italic;
}


/* //------ */

ul.headerdraw {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111111;
    font-family: "Rubik","Open Sans",sans-serif;
    font-size: 13px;
    color:white
  }
  
 li.dropbtn  {
    float: left;
    display: block;
    color: white;
    text-align: center;
     padding: 16px ; 
    text-decoration: none;
  }
  
  li.dropbtn:hover {
    background-color: #333333;
  }
  
.dropdown-content {
    margin-top: 16px;
    margin-left: -16px;
    display: none;
    position: absolute;
    
    background-color: #333333;
    min-width: 160px;
    z-index: 1;  

    
  }
  
  .dropdown-content a {
      
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  li.dropbtn:hover .dropdown-content {
    display: block;
   
  }
  .dropdown-content a:hover {background-color: #525151}
  
li {list-style-type: none;
text-align: left;}

/* progress bar  */

#myProgress {
  width: 100%;
  background-color:rgb(211, 206, 206);
  border-radius: 5px;
  height:20px;
  
}

#myBar {
  
  height: 20px;
  width: 0%;
  background-color: rgb(20, 93, 209); /* For browsers that do not support gradients */
  line-height: 18px;
  color: white;
  text-align: center;
  border-radius: 5px;
  
}

#myBar{
   
     background-color: rgb(0, 81, 211); /* For browsers that do not support gradients */
     background-image: linear-gradient(45deg, #2553f6 25%,
                                      rgba(0, 0,0, 0) 25%,
                                      rgba(0, 0, 0, 0) 50%,
                                      #2553f6 50%,
                                      #2553f6 75%,
                                      rgba(0, 0, 0, 0) 75%,
                                      rgba(0, 0, 0, 0));
 
     background-size: 20px 20px;
     opacity: 0.7;
     animation: progress-anim-1-after 0.5s infinite linear;
   }
   
      @keyframes progress-anim-1-after {
     0% {
       background-position: 0 100%;
     }
     100% {
       background-position: 30px 100%;
     }
   }

   .pbarbox{
     
     display: flex;
     align-items: center;

     margin:-30% 20% 20% 20%  ;
     padding:3% ;
     
   }


   #result_block{
    margin:-28% 25% auto 25%  ;
    padding:2.5%;
   
   }

   #result{
     padding-top: 5%  !important;
     padding-bottom: 5%;
   }

   #result_block , .pbarbox{
    
    background-color: white;
    border:solid;
    border-width: 1px;
    border-color: #dddddd;
    border-radius: 1%

   }


  
   .cancel_event {
     background-color: #6c757d;
     border-radius: 2px;
     color :white;
     border: none;
     padding: 7px;
     font-size: large;
     /* float: right; */
     
     margin-left: 10px;
   }

  #again {float:left;
  font-size: 15px;
  margin: -7px auto 30px ;

}

}

/* ///////navbar/// */


.navbar {
 
  justify-content: space-between;
  align-items: left ;
  text-align: left;
  margin-top: -1.8% !important;
}
.hamburger ,.menu_icon {
  visibility: hidden ;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
     
      top: 1.5rem;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      text-align: left;
      align-items: left;
      transition: 0.3s;
      z-index: 5;
      box-shadow:
          0 10px 27px rgba(4, 3, 3, 0.05);
  }
  .menu_icon{
      visibility: visible ;
      padding-top: 10px;
     }

     .dropdown-content {
      margin-top: 16px;
      margin-left: -16px;
      display: none;
     
      background-color: #333333;
      min-width: 160px;
      z-index: 3;  
     width: 100%;
    
      
    }

    .dropdown-content a {
    
      color: white;
      padding: 8px 12px;
      text-decoration: none;
      display: block;
      text-align: left;
      width:100%;
    }

    .choose_file_button{
      height:75px;
      width: 100px;
     
    }
    .row_1, .row_2{font-size: small;}

    .upload_file{
      font-size:10px;
      width:140px;
      padding: auto 25px;
    }

    .drop_here{font-size: 8px;}
}





/* //////////////////////////// */


.others_option{text-decoration: none;}

ul.headerdraw , .navbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111111;
  font-family: "Rubik","Open Sans",sans-serif;
  font-size: 13px;
  color:white
}

li.dropbtn  {
  float: left;
  display: block;
  color: white;
  text-align: center;
   padding:  16px 16px 16px 16px ; 
  text-decoration: none;
}

li.dropbtn:hover {
  background-color: #333333;
}

.dropdown-content {
  margin-top: 16px;
  margin-left: -16px;
  display: none;
  position: absolute;
  
  background-color: #333333;
  min-width: 160px;
  z-index: 1;  

  
}

.dropdown-content a {
    
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

li.dropbtn:hover .dropdown-content {
  display: block;
 
}
.dropdown-content a:hover {background-color: #525151}

/* li {list-style-type: none;
text-align: left;} */

